*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
    background-color: burlywood;
    color: black;
    display: grid;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
    justify-items: center;
}
.signup-container{
    display: grid;
    grid-template-areas: "left right";
    max-width: 900px;
}
.left-container{
    background: #807182;
    overflow: hidden;
    padding: 40px 0 0 0;
    position: relative;
    text-align: center;
    width: 300px;
}
    .left-container h1{
        color: black;
        display: inline-block;
        font-size: 24px;
    }
.left-container h1 i{
    background: rgba(216, 112, 147, 0.699);
    border-radius: 50%;
    color: #807182;
    font-size: 24px;
    margin-right: 5px;
    padding: 10px;
    transform: rotate(-40deg);
}
.left-container .puppy{
    bottom: -5px;
    position: absolute;
    text-align: center;
}
.left-container .puppy::before{
    background: #807182;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.left-container img{
    filter: sepia(100%);
    width: 70%;
}
.right-container{
    background: #f8b9b3;
    display: grid;
    width: 500px;
}
.right-container h1:nth-of-type(1){
    color: black;
    font-size: 28px;
    font-weight: 600;
}
.right-container .set{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.right-container input{
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    height: 38px;
    line-height: 38px;
    padding-left: 5px;
}
.right-container input,
.right-container label{
    color: rgba(0,0,0,.8);
    width: 176px;
}
.right-container header{
    padding: 40px;
}
.right-container .pets-photo button{
    border: none;
    border-radius: 50%;
    height: 38px;
    margin-right: 10px;
    outline: none;
    width: 38px;
}
.right-container .pets-photo button i{
    color: black;
    font-size: 18px;
}
.right-container .pet-weight .radio-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.right-container footer{
    align-items: center;
    background: #fff;
    display: grid;
    padding: 5px 40px;
}
.right-container footer button{
    border: 1px solid rgba(0,0,0,.2);
    height: 38px;
    line-height: 38px;
    width: 100px;
    border-radius: 19px;
    font-family: 'Montserrat', sans-serif;
}
.right-container footer #next{
    background: #807182;
    border: 1px solid transparent;
    color: #fff;
}
.right-container footer #next:hover{
    background: #171A2B;
}
.pets-name label,
.pets-breed label,
.pets-birthday label,
.pets-gender label,
.pets-spayed-neutered label,
.pets-weight label{
    display: block;
    margin-bottom: 5px;
}
.radio-container{
    background: #fff;
    border: 1px solid rgba(0,0,0,.1);
    border: 4px;
    display: inline-block;
    padding: 5px;
}
.radio-container label{
        background: transparent;
        border: 1px solid transparent;
        border-radius: 2px;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        margin: 0;
        padding: 0;
        text-align: center;
        transition: .10s all ease-in-out;
        width: 80px;
}
.radio-container input[type="radio"]{
    display: none;
}
.radio-container input[type="radio"]:checked + label{
    background-color: #F7B1AB;
    border: 1px solid rgba(0,0,0,.1);
}