body{
     font-family: cursive;
     background-color: rgb(0, 0, 0);
     background-size: cover;
     min-height: 50vh;
}
div {
  width: 100%;
  height: 500px;
  background-image: url(coffee.jpg);
  background-size: cover;
  background-position: center;
  animation-name: myAnimation;
  animation-duration: 100s;
  animation-iteration-count: infinite;
}

@keyframes myAnimation {
  0%   { background-image: url(shop11.jpg); }
  25%  { background-image: url(shop12.jpg); }
  50%  { background-image: url(shop13.jpg); }
  100% { background-image: url(shop14.jpg); }
}

nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.692);
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(255, 254, 255, 0.651);
}

ul{
    color: aqua;
    display: flex;
    gap: 20px;
}
li a{
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    transition: all 0.10 ease;
    border-radius: 4px;
}
li a:hover{
    background-color: rgb(0, 0, 0);
}
h1{
    font-family: cursive;
    min-height: 10vh;
    color: rgb(57, 44, 61);
}
p{
    text-align: center;
}
img{
    height: 20vh;
    width: 30vh;
}
footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

